.idea
Будет удалено .gitignore
Будет удалено .idea/go.iml
Будет удалено .idea/goLibraries.xml
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/libraries/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/workspace.xml
